<%# JSON.stringify(result) %>
<div class="container-fluid p-0">
    <div class="card container">
        <div class="card-header">
            <h5>Leave Applications</h5>
        </div>
        <table class="table table-striped table-hover"  datatable="true" >  
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Job Title</th>
                    <th>Leave Type</th>
                    <th>Leave Date</th>
                    <th>Period of Leaves</th>
                    <th>Approval</th>
                </tr>
            </thead>
            <tbody>
                <% var count = 1 %>
                <% result.forEach(function(req){ %>
                    <tr>
                        <td><%= count++ %></td>
                        <td><%= req.fullname %> </td>
                        <td><%= req.department %></td>
                        <td><%= req.jobtitle %></td>
                        <td><%= req.leave_type %></td>
                        <td><%= req.datetime.substring(0, 10) %></td>
                        <td><%= req.period %></td>
                        <td class="table-action">
                            <% if(req.status=="Sent") {%>
                                 <i class="align-middle mr-1" data-feather="check-circle" data-toggle="modal" data-target="#approveModal" onclick="setItemsState('<%= req.emp_id %>','<%= req.datetime %>',2)"></i> 
                                 <i class="align-middle " data-feather="x-circle" data-toggle="modal" data-target="#rejectModal" onclick="setItemsState('<%= req.emp_id %>','<%= req.datetime %>',3)"></i> 
                            <% }else{ %>
                                <%= req.status %>
                            <% }  %>  
                        </td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
</div>

<%# modal for approve %>
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Approve Leave Request</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-3">
                <p class="mb-0">Click Approve button to accept the leave application.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="approve()">Approve</button>
            </div>
        </div>
    </div>
</div>

<%# modal for reject %>
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reject Leave Request</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-3">
                <p class="mb-0">Click Reject button to reject the leave application.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="approve()">Reject</button>
            </div>
        </div>
    </div>
</div>

<script>
    var empId;
    var dateTime;
    var status;
    var setItemsState = (id,date,stat) =>{
        empId=id;
        dateTime=date;
        status=stat ;
    }
    var approve= () =>{
        if (status==2){
            $('#approveModal').modal('hide');
        }else{
            $('#rejectModal').modal('hide');
        }
        $.post( '/auth/alter/leave_approval', {empId,dateTime,status}).done( _ => {
            $('#root_refresher').click(); 
        }).fail(_ => {
            $('#root_refresher').click();
        });
    }
</script>