<div class="container-fluid p-0">
    <div class="card container">
        <div class="card-header">
            <h3 style="font-family:verdana;">Leave Types</h3>
        </div>
        <table class="table table-striped table-hover" datatable="true" db_table="leave_types" db_primary_column="leave_type_id" popup-edit="1">
            <thead>
                <tr>
                    <th style="width: 30px;"></th>
                    <th db_column="leave_type">Leave Types</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% var count = 1 %>
                <% leave_type_res.forEach(function(res_1){ %>
                    <tr data-id="<%= res_1.leave_type_id %>" show-name="<%= res_1.leave_type %>">
                        <td><%= count++ %></td>
                        <td><%= res_1.leave_type %></td>
                        <td class="table-action">
                            <a href="#"><i class="align-middle edit_ele" data-feather="edit-2"></i></a>
                            <a href="#"><i class="align-middle del_ele" data-feather="trash"></i></a>
                        </td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
        <div class="row g-3 align-items-center">
            <form action="/auth/form_submit/add_new_leave_type">
                <div class="row p-2">
                    <div class="col-auto">
                        <label for="add_new_leave_type" class="col-form-label">Add New Leave Type</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" name="value" id="add_new_leave_type" class="form-control" aria-describedby="passwordHelpInline" required>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="card container">
        <div class="card-header">
            <h3 style="font-family:verdana;">Maximum No of Leaves</h3>
        </div>
        <table class="table table-striped table-hover" datatable="true" db_table="max_leave_days" db_primary_column="leave_type_id, pay_grade_level" >
            <thead>
                <tr>
                    <th style="width: 30px;"></th>
                    <th db_column="leave_type_id">Leave Type</th>
                    <% pay_grades.forEach(pay_grade=>{ %>
                        <th><%= pay_grade.pay_grade_level_title %></th>
                    <% }) %>
                </tr>
            </thead>
            <tbody>
                <% var count = 1 %>
                <% max_leave_res.forEach(function(res){ %>
                    <tr %>">
                        <td><%= count++ %></td>
                        <td><%= res.leave_type %></td>
                        <% pay_grades.forEach(pay_grade=>{ %>
                            <td><%= res[`pay_grade_level_${pay_grade.pay_grade_level}`] %></td>
                        <% }) %>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
        <div class="card-header">
            <a href="#/leaves/new_max_leave" class="btn btn-primary gap-2 md">Add New Entry</a>
        </div>
    </div>
</div>