<div class="container-fluid p-0">
    <div class="card container">
        <div class="card-header">
            <h3 style="font-family:verdana;">Custom Attributes</h3>
        </div>
        <table class="table table-striped table-hover" del_fun="deleteCusAtter" datatable="true" db_table="custom_fields" db_primary_column="custom_field_id" popup-edit="1">
            <thead>
                <tr>
                    <th style="width: 30px;">#</th>
                    <th db_column="custom_field_name">Custom Attribute Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% var count = 1 %>
                <% cusAttr.forEach(function(attr){ %>
                    <tr data-id="<%= attr.custom_field_id %>">
                        <td><%= count++ %></td>
                        <td><%= attr.custom_field_name %></td>
                        <td class="table-action">
                            <a href="#"><i class="align-middle edit_ele" data-feather="edit-2"></i></a>
                            <a href="#"><i class="align-middle del_ele"  data-feather="trash"></i></a>
                        </td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
        <div class="row g-3 align-items-center">
            <form action="/auth/form_submit/employees/add_new_cus_attribute">
                <div class="row p-2">
                    <div class="col-auto">
                        <label for="add_new_cus_attribute" class="col-form-label">Add A New Custom Attribute</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" name="attr_title" id="add_new_cus_attribute" class="form-control" aria-describedby="passwordHelpInline" placeholder="Custom Attribute Title" required>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var deleteCusAttr = (icon) => {
        var id = $(icon).parents('tr').attr('data-id');
        $.post( '/auth/alter/del_custom_attribute', {id}).done( _ => {
            $('#root_refresher').click(); 
        }).fail(_ => {
            $('#root_refresher').click();
        });
    }
</script> 

<div class="container-fluid p-0">
    <div class="card container">
        <div class="card-header">
            <h3>Custom Attribute Values</h3>
        </div>
    </div>
</div>

<% cusAttr.forEach(function(attr){%>
    <div class="container-fluid p-0">
        <div class="card container">
            <div class="card-header">
                <h3 style="font-family:verdana;"><%= attr.custom_field_name %></h3>
            </div>
            <table class="table table-striped table-hover" del_fun="deleteCusAttrVal" datatable="true" db_table="custom_field_values" db_primary_column="custom_field_value_id" popup-edit="1">
                <thead>
                    <tr>
                        <th style="width: 30px;">#</th>
                        <th db_column="custom_field_value"><%= attr.custom_field_name %> Type </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% var count = 1 %>
                    <% cusVal.filter(val => attr.custom_field_id == val.custom_field_id ).forEach(function(val){ %>
                        <tr data-id="<%= val.custom_field_value_id %>">
                            <td><%= count++ %></td>
                            <td><%= val.custom_field_value%></td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle edit_ele" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle del_ele"  data-feather="trash"></i></a>
                            </td>
                        </tr>
                    <% }) %> 
                </tbody>
            </table>
            <div class="row g-3 align-items-center">
                <form action="/auth/form_submit/employees/attr_value">
                    <input type="hidden" name="custom_field_id" value="<%= attr.custom_field_id %>">
                    <div class="row p-2">
                        <div class="col-auto">
                            <label for="add_new_cus_attribute_value" class="col-form-label">Add A New <%= attr.custom_field_name %> Type</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" name="attr_value" id="attr_value" class="form-control" placeholder="Add new <%= attr.custom_field_name %>" required>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% }) %>


