<div class="container-fluid p-0">
    <div class="card container">
        <div class="card-header">
            <h3 style="font-family:verdana;">Emergency Detail menus</h3>
            <a href="#/employees/newEmergency/0" class="btn btn-primary gap-2 md">Add New Attribute</a>
        </div>
        <table class="table table-striped table-hover" del_fun="deleteCusAtter" datatable="true" db_table="emergency_contact_items" db_primary_column="eme_item_id" popup-edit="1">
            <thead>
                <tr>
                    <th style="width: 30px;">#</th>
                    <th db_column="eme_item_name">Emergency Attribute Title</th>
                    <th>Required</th>
                    <th>Multivalued</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% var count = 1 %>
                <% emerDetails.forEach(function(attr){ %>
                    <% if (attr.personal == 0) { %>
                    <tr data-id="<%= attr.eme_item_id %>">
                        <td><%= count++ %></td>
                        <td><%= attr.eme_item_name %></td>
                        <td><% if (attr.is_required == 0) { %><%= 'No' %><% }else{ %><%= 'Yes' %><% } %></td>
                        <td><% if (attr.multivalued == 0) { %><%= 'No' %><% }else{ %><%= 'Yes' %><% } %></td>
                        <td class="table-action">
                            <a href="#"><i class="align-middle edit_ele" data-feather="edit-2"></i></a>
                            <a href="#"><i class="align-middle del_ele"  data-feather="trash"></i></a>
                        </td>
                    </tr>
                    <% } %>
                <% }) %> 
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="card container">
        <div class="card-header">
            <h3 style="font-family:verdana;">Contact Detail menus</h3>
            <a href="#/employees/newEmergency/1" class="btn btn-primary gap-2 md">Add New Attribute</a>
        </div>
        <table class="table table-striped table-hover" del_fun="deleteCusAtter" datatable="true" db_table="emergency_contact_items" db_primary_column="eme_item_id" popup-edit="1">
            <thead>
                <tr>
                    <th style="width: 30px;">#</th>
                    <th db_column="eme_item_name">Contact Attribute Title</th>
                    <th>Required</th>
                    <th>Multivalued</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% var count = 1 %>
                <% emerDetails.forEach(function(attr){ %>
                    <% if (attr.personal == 1) { %>
                    <tr data-id="<%= attr.eme_item_id %>">
                        <td><%= count++ %></td>
                        <td><%= attr.eme_item_name %></td>
                        <td><% if (attr.is_required == 0) { %><%= 'No' %><% }else{ %><%= 'Yes' %><% } %></td>
                        <td><% if (attr.multivalued == 0) { %><%= 'No' %><% }else{ %><%= 'Yes' %><% } %></td>
                        <td class="table-action">
                            <a href="#"><i class="align-middle edit_ele" data-feather="edit-2"></i></a>
                            <a href="#"><i class="align-middle del_ele"  data-feather="trash"></i></a>
                        </td>
                    </tr>
                    <% } %>
                <% }) %> 
            </tbody>
        </table>
    </div>
</div>

