<% var cols = ['dept_id', 'pay_grade_level_id', 'job_id']; %>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-xl-8">
            <div class="card container">
                <div class="card-header">
                    <h3>Employees Details</h3>
                    <h5><%= page_para.heading %></h5>
                    <% if(page_para.filter_type!='none'){ %>
                        <a href="#/employees/reports" class="btn btn-primary gap-2 md" id="show_all">Show All</a>
                    <% } %>
                    <div class="card-actions float-right">
                        <div class="dropdown show">
                            <a href="#" data-toggle="dropdown" data-display="static">
                                <i class="align-middle" data-feather="more-horizontal"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="overflow: auto;">
                    <table class="table table-striped table-hover" datatable="true" db_table="employment_statuses" db_primary_column="emp_status_id" edit-page="/employees/edit"> <%# edit-page format will be /employees/edit/emp_id/emp_name  %>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date of Birth</th>
                                <th>Martial Status</th>
                                <th>Department</th>
                                <th>Pay Grade</th>
                                <th>Job Title</th>
                                <% custom_fields.forEach(function(field){ %>
                                    <th><%= field.custom_field_name %></th>
                                <% }) %>
                                <th>User Account</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <% rest_fields.forEach(function(field, id){ %>
                                    <th>
                                        <select name="<%= cols[id] %>" filter_type="default" class="filter_select form-control mb-3">
                                            <option value="0">All</option>
                                            <% field.forEach(function(col){ %>
                                                <option value="<%= col.id %>" <%= (page_para.filter_type==='default'&&page_para.table==cols[id]&&page_para.value==col.id)?'selected':'' %>><%= col.title %></option>
                                            <% }) %>
                                        </select>
                                    </th>
                                <% }) %>
                                <% custom_fields.forEach(function(field, id){ %>
                                    <th>
                                        <select name="<%= field.custom_field_name %>" filter_type="custom" custom_field_id="<%= field.custom_field_id %>" class="filter_select form-control mb-3">
                                            <option value="0">All</option>
                                            <% custom_field_values.forEach(function(value){ %>
                                                <% if(value.custom_field_id===field.custom_field_id){ %>
                                                    <option value="<%= value.custom_field_value_id %>" <%= (page_para.filter_type==='custom'&&page_para.custom_field_value_id==value.custom_field_value_id)?'selected':'' %>><%= value.custom_field_value %></option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </th>
                                <% }) %>
                                <th></th>
                            </tr>
                        </tbody>
                        <tbody>
                            <% employees.forEach(function(emp){ %>
                                <tr data-id="<%= emp.emp_id %>" show-name="<%= emp.firstname + " " + emp.lastname  %>">
                                    <td>
                                        <img src="img/avatars/avatar-5.jpg" width="48" height="48" class="rounded-circle mr-2" alt="Avatar"> <%= emp.firstname + " " + emp.lastname  %>
                                    </td>
                                    <td><%= emp.birthdate %></td>
                                    <td><%= emp.marital_status %></td>
                                    <td><%= emp.department %></td>
                                    <td><%= emp.pay_grade_level %></td>
                                    <td><%= emp.job_title %></td>
                                    <% custom_fields.forEach(function(field){ %>
                                        <td><%= emp[`custom_field_${field.custom_field_id}`] %></td>
                                    <% }) %>
                                    <td><% if (!emp.username) { %>
                                            <%= 'No' %>
                                        <% }else{ %>
                                            <%= 'Yes' %>
                                        <% } %>
                                    </td>
                                </tr>
                            <% }) %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions float-right">
                        <div class="dropdown show">
                            <a href="#" data-toggle="dropdown" data-display="static">
                                <i class="align-middle" data-feather="more-horizontal"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0">Angelica Ramos</h5>
                </div>
                <div class="card-body">
                    <div class="row g-0">
                        <div class="col-sm-3 col-xl-12 col-xxl-3 text-center">
                            <img src="img/avatars/avatar-3.jpg" width="64" height="64" class="rounded-circle mt-2" alt="Angelica Ramos">
                        </div>
                        <div class="col-sm-9 col-xl-12 col-xxl-9">
                            <strong>About me</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua.</p>
                        </div>
                    </div>

                    <table class="table table-sm mt-2 mb-4">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>Angelica Ramos</td>
                            </tr>
                            <tr>
                                <th>Company</th>
                                <td>The Wiz</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>angelica@ramos.com</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>+1234123123123</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td><span class="badge bg-success">Active</span></td>
                            </tr>
                        </tbody>
                    </table>

                    <strong>Activity</strong>

                    <ul class="timeline mt-2 mb-0">
                        <li class="timeline-item">
                            <strong>Signed out</strong>
                            <span class="float-right text-muted text-sm">30m ago</span>
                            <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit...</p>
                        </li>
                        <li class="timeline-item">
                            <strong>Created invoice #1204</strong>
                            <span class="float-right text-muted text-sm">2h ago</span>
                            <p>Sed aliquam ultrices mauris. Integer ante arcu...</p>
                        </li>
                        <li class="timeline-item">
                            <strong>Discarded invoice #1147</strong>
                            <span class="float-right text-muted text-sm">3h ago</span>
                            <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit...</p>
                        </li>
                        <li class="timeline-item">
                            <strong>Signed in</strong>
                            <span class="float-right text-muted text-sm">3h ago</span>
                            <p>Curabitur ligula sapien, tincidunt non, euismod vitae...</p>
                        </li>
                        <li class="timeline-item">
                            <strong>Signed up</strong>
                            <span class="float-right text-muted text-sm">2d ago</span>
                            <p>Sed aliquam ultrices mauris. Integer ante arcu...</p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.filter_select').unbind('change').change(function(){
        if($(this).find(':selected').val()=='0'){
            location.hash = '/employees';
        }else{
            location.hash = `/employees/${$(this).attr('filter_type')}/${$(this).attr('name')}/${$(this).find(':selected').text()}/${$(this).find(':selected').val()}${ $(this).attr('filter_type')==='custom' ? ('/'+$(this).attr('custom_field_id')) : '' }`;
        }
    })
</script>