<link rel="stylesheet" href="/css/croppie.css" />
<div class="content container-fluid p-0">
    <%#  JSON.stringify(result[8]) %>
    <% if(newEmp){
            var employee={"emp_id":null,"firstname":"","lastname":"","bd":"","martial_status":"","dept_id":null,"job_id":null,"emp_status_id":null,"pay_grade_level":null,"supervisor":null,"username":null,"user_level":null,"userAcc":null,"staff_id":"","primary_phone_num":null,"address":null}
            var action="auth/form_submit/addNewEmployee";
        }else{
            var employee =result[9][0]
            var action="auth/form_submit/editEmployee";
        } %>
    <div class="card">

        <div class="card-header">
            <h5 class="card-title mb-0">Employee Info</h5>
            <%if(!newEmp){ %>
                <a class="btn btn-primary mt-2" style="float: right;" href="#/employees/emergency_info/<%= newEmp? '':employee.emp_id %>" >
                    <i class="align-middle" data-feather="plus-circle"></i><span class="align-middle">  Emergency Details</span>
                </a>
            <%} %>
        </div>

        <div class="card-body">
            <form class="form_tag" after_submit="change_page" action="<%= action %>">
                <input type="hidden" name="empId" value="<%= employee.emp_id %>">
                <input type="hidden" name="userAcc" value="<%= employee.userAcc %>">
                <input type="hidden" name="profileImage" id="profileImage" value="<%= newEmp ? 'default' :'unchanged' %>">

                <div class="card" >
                    <div class="row">
                        <div  class="mb-3 col-md-2">
                            <img src="<%= (newEmp || imageData=='default')  ? 'img/profile/default.jpg':imageData %>" id="croppedImage" name="croppedImage" alt="Profile Photo" class="img-fluid rounded-circle mb-2" width="128" height="128" />
                        </div>
                        <div  class="mb-3 col-md-10">
                            <label for="upload_image" style="margin: 35px 0 14px;width: 140px;" class="btn btn-primary" ><i class="fas fa-upload"></i>  Upload Image</label> 
                            <input type="file" style="display: none;" name="upload_image" id="upload_image" accept="image/*" /><br>
                            <button type="Button" class="btn btn-primary" id="defaultImage">Set Default Image</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputFirstName">First name</label>
                        <input type="text" required name="firstname" class="form-control" id="inputFirstName" value="<%= employee.firstname %>" placeholder="First name" >
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputLastName">Last name</label>
                        <input type="text" required name="lastname" class="form-control" id="inputLastName" value="<%= employee.lastname %>" placeholder="Last name">
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputDob">Date of birth</label>
                        <input type="date" required  name="dob" class="form-control" id="inputDob" value="<%= employee.bd %>">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="staf_id">Staff Id</label>
                        <input type="text" required  name="staffId" class="form-control" id="staf_id" value="<%= employee.staff_id %>" placeholder="staff id">
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputMstatus">Martial Status</label>
                        <select required name="martialStatus" id="inputMstatus" class="form-control">
                            <option value="single" <%= employee.martial_status=="single" ? 'selected':'' %> >Single</option>
                            <option value="married" <%= employee.martial_status=="married" ? 'selected':'' %>>Married</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputMstatus">Gender</label>
                        <select required name="gender" id="inputMstatus" class="form-control">
                            <option value="male" <%= employee.gender=="male" ? 'selected':'' %> >Male</option>
                            <option value="female" <%= employee.gender=="female" ? 'selected':'' %>>Female</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputDepartment">Department</label>
                        <select required name="department" id="inputDepartment" class="form-control">
                            <% result[0].forEach(function(dpt){ %>
                            <option value="<%= dpt.dept_id %>" <%= employee.dept_id==dpt.dept_id ? 'selected':'' %>><%= dpt.name %></option>
                            <% }) %> 
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputJtitle">Job Title</label>
                        <select required name="jobTitle" id="inputJtitle" class="form-control">
                            <% result[1].forEach(function(jt){ %>
                                <option value="<%= jt.job_id %>" <%= employee.job_id==jt.job_id ? 'selected':'' %>><%= jt.job_title_name %></option>
                                <% }) %> 
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputEstatus">Employee Status</label>
                        <select required name="empStatus" id="inputEstatus" class="form-control">
                            <% result[2].forEach(function(emps){ %>
                                <option value="<%= emps.emp_status_id %>" <%= employee.emp_status_id==emps.emp_status_id ? 'selected':'' %>><%= emps.emp_status %></option>
                                <% }) %> 
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputPglevel">Employment Status Type</label>
                        <select required name="empStaType" id="inputPgl" class="form-control">
                            <option value="1" <%= employee.emp_status_type=="not_applicable" ? 'selected':'' %> >Not Applicable</option>
                            <option value="2" <%= employee.emp_status_type=="full_time" ? 'selected':'' %> >Full Time</option>
                            <option value="3" <%= employee.emp_status_type=="part_time" ? 'selected':'' %> >Part time</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputSupervisor">Supervisor</label>
                        <select required name="supervisor" id="inputSupervisor" class="form-control">
                            <option value="0">Does not have a supervisor</option>
                            <% result[4].forEach(function(emp){ %>
                                <option value="<%= emp.emp_id %>" <%= employee.supervisor==emp.emp_id ? 'selected':'' %>><%= emp.fullname %></option>
                                <% }) %> 
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputPglevel">Pay Grade Level</label>
                        <select required name="payGlevel" id="inputPgl" class="form-control">
                            <% result[3].forEach(function(pgl){ %>
                                <option value="<%= pgl.pay_grade_level %>" <%= employee.pay_grade_level==pgl.pay_grade_level ? 'selected':'' %>><%= pgl.pay_grade_level_title %></option>
                                <% }) %> 
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputBranch">Branch</label>
                        <select required name="branch" id="inputBranch" class="form-control">
                            <% result[8].forEach(function(bran){ %>
                                <option value="<%= bran.branch_id %>" <%= employee.branch_id==bran.branch_id ? 'selected':'' %>><%= bran.title %></option>
                                <% }) %> 
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputphone">Primary Phone No</label>
                        <input type="text" required name="phone" class="form-control" id="inputphone" value="<%= employee.primary_phone_num %>" placeholder="phone no">
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputaddress">Address</label>
                        <input type="text" required name="address" class="form-control" id="inputaddress" value="<%= employee.address %>" placeholder="address">
                    </div>
                </div>

                <div class="col-md-12 <%= result[6][0] ? '':'d-none' %>">
                    <div class="card p-4 pt-1">
                        <div class="card-header pl-0">
                            <h4 class="card-title">Custom Attributes</h4>
                        
                            <% result[6].forEach(function(cusAttr,val){ %>
                                <% var attribute=JSON.parse(cusAttr.attributes) %>
                                <% var options=JSON.parse(attribute.field_value) %>
                                <% if ( val%2 == 0) { %>
                                    </div><div class='row'> 
                                <% } %>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label"><%= attribute.field_name.charAt(0).toUpperCase() + attribute.field_name.slice(1) %></label>
                                    <input type="hidden"  name=attr_id value="<%= attribute.field_id %>" >
                                    <input type="hidden"  name=exist_attr_id value="<%= attribute.old_value ? attribute.old_value:'0' %>" >
                                    <select required name="attr_val"  class="form-control">
                                        <% options.forEach(function(attr){ %>
                                            <option value="<%= attr.id %>" <%= attribute.old_value ==attr.id ? "selected":'' %>><%= attr.value%></option>
                                        <% }) %>
                                    </select>
                                </div>
                            <% }) %> 
                        </div>
                    </div>
                </div>

                <div class="form-check form-switch ml-2 mb-1 mt-2" style="height: 3rem" >
                    <input class="form-check-input" style="height: 1.5rem;width: 3rem;" onchange="editUserToggle()" name="userAccount" type="checkbox" id="inputUserAcc" <%= employee.userAcc==null ? '':'checked' %>>
                    <label class="form-check-label" style="padding-left: 1.5rem;line-height: 2rem;" for="inputUserAcc">Add a User Account</label>
                </div>

                <div class="col-md-12 <%= employee.userAcc==null ? 'd-none':'' %>" id="editEmpUser" >
                    <div class="card p-4 pt-1">
                        <div class="card-header pl-0">
                            <h5 class="card-title">User account</h5>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label" for="inputUsername">User Name</label>
                                <input type="text" <%= employee.userAcc==null ? '':'required' %> name="userName" class="form-control mb-2 mr-sm-2" id="inputUsername" value="<%= employee.username %>" placeholder="User Name">
                            </div>

                            <div class="col-6">
                                    <label class="form-label" for="inputUserLevel">User Level</label>
                                    <select required name="userLevel" id="inputUserLevel" class="form-control">
                                        <% result[5].forEach(function(usLevel){ %>
                                            <option value="<%= usLevel.user_level %>" <%= employee.user_level==usLevel.user_level ? 'selected':'' %>><%= usLevel.user_level_title %></option>
                                            <% }) %> 
                                    </select>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>

        </div>
    </div>

    <div id="uploadimageModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Crop Image</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                          <div class="col-md-8 text-center">
                              <div id="image_demo" style="width:350px; margin-top:30px"></div>
                          </div>
                          <div class="col-md-4" style="padding-top:30px;">
                              <br />
                              <br />
                              <br/>
                              <button class="btn btn-success crop_image">Crop Image</button>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
            </div>
        </div>
    </div>

</div>
<script> 
    $( document ).ready(function() {
        setTimeout(include("/js/newEmployee.js"),3);
    });

    var submit_form = () => {
        var form = $(".form_tag");
        $.post( form.attr('action'), form.serializeArray(), (data) =>{
            change_page(data);
        });
    }
    var change_page = (data) => {
        console.log(data)
        if(data.error){
            alert("Error!....");
        }else{
            if(data.new){
                location.hash = "/employees/emergency_info/" +data.emp_id ;
            }else{
                location.hash = "/employees/actions";
            }
        }
    }
    var editUserToggle = () => {
        document.querySelector("#editEmpUser").classList.toggle("d-none");
        document.querySelector("#inputUsername").toggleAttribute("required");
    }

    function include(file) { 
  
        var script  = document.createElement('script'); 
        script.src  = file; 
        script.type = 'text/javascript'; 
        script.defer = true; 
        
        document.getElementsByTagName('head').item(0).appendChild(script); 
        
    } 
</script>
<script src="/js/croppie.js"></script>

