<div class="container-fluid p-0">
    <div class="card container">
        <div class="card-header">
            <h5>Menu Permissions</h5>
        </div>
        <table class="table table-striped table-hover" datatable="false" db_table="pivoted_menu_permissions" db_primary_column="menu_id"> <%# edit-page format will be /employees/edit/emp_id/emp_name  %>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Menu</th>
                    <% userLevels.forEach(userLevel => { %>
                        <th><%= userLevel.user_level_title %></th>
                    <% }) %>
                </tr>
            </thead>
            <tbody>

                <%  var count = 1; %>
                <% data.forEach(function(menu){ %>
                    <tr>
                        <td><%= count++ %></td>
                        <td>
                            <i class="align-middle" data-feather="<%= menu.icon %>"></i>
                            <%= menu.title %>
                        </td>
                        <% userLevels.forEach(userLevel => { %>
                            <td>
                                <input
                                    name="menu_check"
                                    class="form-check-input menu-permission-checkbox"
                                    type="checkbox"
                                    menu_id="<%= menu.menu_id %>"
                                    user_level="<%= userLevel.user_level %>"
                                    <%= menu['user_level_'+userLevel.user_level]==1&&'checked' %>
                                />
                            </td>
                        <% }) %>
                        
                    </tr>

                    <% sub_menus.forEach(sub_menu => { %>
                        <% if(sub_menu.parent==menu.menu_id){ %>

                            <tr>
                                <td></td>
                                <td>
                                    <i class="align-middle" data-feather="arrow-right"></i>
                                    <%= sub_menu.title %>
                                </td>
                                <% userLevels.forEach(userLevel => { %>
                                    <td>
                                        <input
                                            name="menu_check"
                                            class="form-check-input menu-permission-checkbox"
                                            type="checkbox"
                                            menu_id="<%= sub_menu.menu_id %>"
                                            user_level="<%= userLevel.user_level %>"
                                            <%= sub_menu['user_level_'+userLevel.user_level]==1&&'checked' %>
                                        />
                                    </td>
                                <% }) %>
                                
                            </tr>
                        <% } %>
                    <% }) %>
                <% }) %> 
            </tbody>
        </table>
    </div>
</div>
<script>
    $('.menu-permission-checkbox').bootstrapSwitch({
        onSwitchChange: function(e, state) {
            const ele = e.target;
            $.post( '/auth/form_submit/menus/editMenuPermission', {menu_id: $(ele).attr('menu_id'), user_level: $(ele).attr('user_level'), permission: ele.checked?1:0 }).always( _ => {
                console.log('success');
            });
        },
        size: 'normal',
        animate: true,
        inverse: true,
        onColor: 'success',
        offColor: 'danger',
        onText: 'Allowed',
        offText: 'Denied',
        handleWidth: 'auto',
        labelWidth: 20
    });
</script>