<style>
    .ui-selectmenu-menu.ui-front.ui-selectmenu-open{
        max-height: 200px;
        overflow: auto;
    }
</style>
<div class="content container-fluid p-0">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">
                <% if( data ) { %>
                    Edit <%= data.title %> 
                <% } else { %>
                    Create new entry
                <% } %>
            </h5>
        </div>

        <div class="card-body">
            <form page_after_submit="/leave_settings" action="<%= data? '/auth/form_submit/edit_max_leave' : '/auth/form_submit/new_max_leave' %>">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="leave_type">Leave Type</label>
                    <div class="col-sm-10">
                        <select required name="leave_type" id="leave_type" class="form-control">
                            <% leave_type_res.forEach(function(res_1){ %>
                                <option value="<%= res_1.leave_type_id %>"><%= res_1.leave_type %></option>
                            <% }) %> 
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="pay_grade_level_title">Pay Grade Level Title</label>
                    <div class="col-sm-10">
                        <select required name="pay_grade_level_title" id="pay_grade_level_title" class="form-control">
                            <% pay_gr_res.forEach(function(res_2){ %>
                                <option value="<%= res_2.pay_grade_level %>"><%= res_2.pay_grade_level_title %></option>
                            <% }) %> 
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="max_leaves">Maximum No of Leaves</label>
                    <div class="col-sm-10">
                        <input type="text"  name="max_leaves" class="form-control" id="max_leaves" placeholder="Max No of Leaves">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary"><%= 'Create' %></button>
            </form>

        </div>
    </div>

</div>
