<style>
    .card { height:300px; width: 300px; margin: 8px;}
    .address-detail {width: 140px; overflow: auto; text-align: right;}
    .mb-3 { margin-top: 1rem!important;}
    .btn-primary {margin-top: 1rem !important;}
</style>
<div class="container-fluid p-0">

    <a href="#/organization/newOrg" class="btn btn-primary float-right mt-n1"><i class="fas fa-plus"></i> New Organization</a>
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Organizations</h1>
    </div>

    <div class="row">
        <% organization.forEach(function(org){ %>
            <div class="card">

                <div class="card-header px-4 pt-4">
                    <div class="card-actions float-right">
                        <div class="dropdown show">
                            <a href="#" data-toggle="dropdown" data-display="static">
                                <i class="align-middle" data-feather="more-horizontal"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" popup-edit="1" href="#/organization/editOrg/<%= org.org_id %>">Edit</a>
                                <a class="dropdown-item" href="#/organization/orgChangePassword/<%= org.org_id %>">Change Password</a>
                                <a class="dropdown-item" href="#/organization/delOrg/<%= org.org_id %>">Delete</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0"><%= org.org_name %></h5>
                    <div class="badge bg-warning my-2">Active</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-4 pb-4">
                        <p class="mb-2 font-weight-bold">Registration Number <span class="float-right"><%= org.registration_number %></span></p>
                        <p class="mb-2 font-weight-bold">Address <span class="float-right address-detail"><%= org.address %></span></p>
                    </li>
                </ul>
            </div>
        <% }) %> 
    </div>

    <a href="#/organization/newBranch" class="btn btn-primary float-right mt-n1"><i class="fas fa-plus"></i> New Branch</a>
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Branches</h1>
    </div>

    <div class="row">
        <% branches.forEach(function(branch){ %>
            <div class="card">

                <div class="card-header px-4 pt-4">
                    <div class="card-actions float-right">
                        <div class="dropdown show">
                            <a href="#" data-toggle="dropdown" data-display="static">
                                <i class="align-middle" data-feather="more-horizontal"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" popup-edit="1" href="#/organization/editBranch/<%= branch.branch_id %>">Edit</a>
                                <a class="dropdown-item" href="#/organization/delBranch/<%= branch.branch_id %>">Delete</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0"><%= branch.title %></h5>
                    <% if (branch.status == 1){ %>
                        <div class="badge bg-warning my-2">Active</div>
                    <% }else{ %>
                        <div class="badge bg-danger my-2">Inactive</div>
                    <% } %>
                </div>
            </div>
        <% }) %> 
    </div>
</div>