<div class="container-fluid p-0">
	<h1 class="h3 mb-3">
		<% if(emp_id == 0){ %> Sample Profile
		<% }else{ %> My Profile <% } %>
	</h1>
	<div>
		<div class="card mb-3">
			<div class="card-header">
				<h5 class="card-title mb-0">Profile Details</h5>
			</div>
			<% if(emp_id == 0){
				my_fullname = 'Full Name';
				my_job_title_name = 'Job Title Name';
				my_birthdate = 'Birth date';
				my_martial_status = 'Martial status(Single/married)';
				my_dept_name = 'Department name';
				my_emp_status = 'Employee status - Employee status type';
				my_pay_grade_level_title = 'Pay Grade Level Title';
			}else{ 
					my_detail.forEach(function(Det){ 
						my_fullname = Det.fullname;
						my_job_title_name = Det.job_title_name;
						my_birthdate = Det.birthdate;
						my_martial_status = Det.marital_status;
						my_dept_name = Det.name;
						my_emp_status = Det.emp_status + ' - ' + Det.emp_status_type;
						my_pay_grade_level_title = Det.pay_grade_level_title;
					})
			}%>
			<div class="card-body text-center">
				<img src="img/avatars/avatar-4.jpg" alt="Christina Mason" class="img-fluid rounded-circle mb-2" width="128" height="128" />
				<h5 class="card-title mb-0">
					<%= my_fullname %>
				</h5>
				<div class="text-muted mb-2">
					<%= my_job_title_name  %>
				</div>
			</div>
			<hr class="my-0" />
			<div class="card-body">
				<h5 class="h6 card-title">About</h5>
				<ul class="list-unstyled mb-0">
					<li class="mb-1"><span data-feather="calendar" class="feather-sm mr-1"></span> Born on <%= my_birthdate %></li>
					<li class="mb-1"><span data-feather="map-pin" class="feather-sm mr-1"></span> Lives in </li>
					<li class="mb-1"><span data-feather="briefcase" class="feather-sm mr-1"></span> <%= my_martial_status %></li>		
				</ul>
			</div>
			<hr class="my-0" />
			<div class="card-body">
				<h5 class="h6 card-title">Department</h5>
				<h3 class="card-title mb-0"><%= my_dept_name %></h3>
			</div>
			<div class="card-body">
				<h5 class="h6 card-title">Employment Status</h5>
				<h3 class="card-title mb-0"><%= my_emp_status %></h3>
			</div>
			<hr class="my-0" />
			<div class="card-body">
				<h5 class="h6 card-title">Pay Grade Level</h5>
				<h3 class="card-title mb-0"><%= my_pay_grade_level_title %></h3>
			</div>
			<hr class="my-0" />

			<div class="card-body">
				<h5 class="h6 card-title">Custom Fields</h5>
				<% if(emp_id == 0){ %>
					Custom field name : Custom field value
				<% }else{ 
					if(eme_res.length > 0){
						cus_res.forEach(function(Det){ %>
							<h3 class="card-title mb-0"><%= Det.custom_field %></h3>
						<% })
					}else{ %>
						<h3 class="card-title mb-0">Not Given</h3>
					<% }
				 } %>
			</div>
			<hr class="my-0" />
			<div class="card-body">
				<h5 class="h6 card-title">Emergency Contact Details</h5>
				<% if(emp_id == 0){ %>
					Field name : Field value
				<% }else{ 
						if(eme_res.length > 0){
							eme_res.forEach(function(Det){ %>
								<h3 class="card-title mb-0"><%= Det.con_detail %></h3>
							<% })
						}else{ %>
							<h3 class="card-title mb-0">Not Given</h3>
						<% }
					} %>
			</div>
			<hr class="my-0" />
			<%/*<div class="card-body">
				<h5 class="h6 card-title">Elsewhere</h5>
				<ul class="list-unstyled mb-0">
					<li class="mb-1"><span class="fas fa-globe fa-fw mr-1"></span> <a href="#">staciehall.co</a></li>
					<li class="mb-1"><span class="fab fa-twitter fa-fw mr-1"></span> <a href="#">Twitter</a></li>
					<li class="mb-1"><span class="fab fa-facebook fa-fw mr-1"></span> <a href="#">Facebook</a></li>
					<li class="mb-1"><span class="fab fa-instagram fa-fw mr-1"></span> <a href="#">Instagram</a></li>
					<li class="mb-1"><span class="fab fa-linkedin fa-fw mr-1"></span> <a href="#">LinkedIn</a></li>
				</ul>
			</div>*/%>
			
		</div>		 
	</div>
</div>