<%# var menus = [
    {
        title: "Dashboard",
        href: "#/",
        icon: "sliders",
        children: false
    },
    {
        title: "Profile",
        href: "#/profile",
        icon: "user",
        children: false
    },
    {
        title: "Employees",
        href: "employees",
        icon: "users",
        children: [
            {
                title: "Details",
                href: "#/employees"
            },
            {
                title: "New Employee",
                href: "#/employees/newEmployee"
            },
            {
                title: "Categories",
                href: "#/employees/categories"
            },
            {
                title: "Custom Attributes",
                href: "#/employees/custom-attributes"
            },
            {
                title: "Emergency & Contact",
                href: "#/employees/emergency-contact"
            },
            {
                title: "Reports",
                href: "#/employees/reports"
            }
        ]
    },
    {
        title: "Settings",
        href: "#/settings",
        icon: "settings",
        children: false
    },
    {
        title: "Leaves",
        href: "leaves",
        icon: "calendar",
        children: [
            {
                title: "Details",
                href: "#/leaves"
            },
            {
                title: "Settings",
                href: "#/leaves/settings"
            },
            {
                title: "My Applications",
                href: "#/leaves/my-applications"
            },
            {
                title: "Requests",
                href: "#/leaves/requests"
            }
        ]
    },
    {
        title: "Departments",
        href: "#/departments",
        icon: "box",
        children: false
    },
    {
        title: "Auth",
        href: "auth",
        icon: "users",
        children: [
            {
                title: "Sign In",
                href: "signin"
            },
            {
                title: "Sign Up",
                href: "/signup"
            }
        ]
    },
    {
        title: "Menus",
        href: "menus",
        icon: "menu",
        children: [
        {
                title: "Details",
                href: "#/menus"
            },
            {
                title: "Permissions",
                href: "#/menus/permissions"
            }
        ]
    }
];
%>
<script>
    var menus=JSON.parse('<%-JSON.stringify(menus) %>');
</script>
<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">Jupiter Apparels</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>
            <div id="sideBarCont" >

            </div>

            <% menus.forEach(function(menu){ %>
                <li class="sidebar-item">
                    <a href="<%= menu.children ? "#"+menu.href : '#/'+menu.href %>" data-toggle="<%= menu.children ? "collapse" : '' %>" class="sidebar-link <%= menu.children ? "collapsed" : "" %>">
                        <i class="align-middle" data-feather="<%= menu.icon %>"></i> <span class="align-middle"><%= menu.title %></span>
                    </a>
                    <% if ( menu.children ) { %>
                        <ul id="<%= menu.href %>" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                            <% menu.children.forEach(function(item){ %>
                                <li class="sidebar-item"><a class="sidebar-link" href="#/<%= item.href %>"><%= item.title %></a></li>
                            <% }) %>
                        </ul>
                    <% } %>
                </li>
            <% }) %> 

            <li class="sidebar-header">
                Plugins & Addons
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="charts-chartjs.html">
      <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="maps-google.html">
      <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
    </a>
            </li>
        </ul>

        <!--div class="sidebar-cta">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2">Upgrade to Pro</strong>
                <div class="mb-3 text-sm">
                    Are you looking for more components? Check out our premium version.
                </div>
                <a href="https://adminkit.io/pricing" target="_blank" class="btn btn-primary btn-block">Upgrade to Pro</a>
            </div>
        </div-->
    </div>
</nav>
